# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# ==========================
# Virtual Environments
# ==========================
venv/
.env/
.envrc
*.env

# ==========================
# Jupyter / IPython
# ==========================
.ipynb_checkpoints/

# ==========================
# OS / Editor
# ==========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ==========================
# Build & Cache
# ==========================
*.egg-info/
dist/
build/
.cache/
*.tmp

# ==========================
# Streamlit
# ==========================
.streamlit/

# ==========================
# Data (hasil generate)
# ==========================
rag/faiss.index
rag/faqs.parquet

# ==========================
# Docker
# ==========================
*.pid
*.sock
*.tar
*.gz
